.xxs {
    font-size: 0.8rem!important;
}
.pr-k {
    font-size: 0.8rem!important;
}
.pb {
    padding-left: 0.5rem!important;
    padding-right: 0.5rem!important;
}

@media (min-width: 350px) {
    .xxs {
        font-size: 0.9rem!important;
    }
    .pr-k {
        font-size: 0.9rem!important;
    }
}

@media (min-width: 576px) {
    .xxs {
        font-size: 1rem!important;
    }
    .pr-k {
        font-size: 1.2rem!important;
    }
}

@media (min-width: 768px) {
    .pb {
        padding-left: 3rem!important;
        padding-right: 3rem!important;
    }
}

@media (min-width: 992px) {
    .pb {
        padding-left: 5rem!important;
        padding-right: 5rem!important;
    }
}

.foot:hover{
    text-decoration: underline!important;
}
