.line {
    border-left: 4px solid #F9B233;
    position: relative;
    padding-left: 9px;
    margin-left: 10px;
}
.line::before{
    content: '';
    width: 15px;
    height: 15px;
    background: white;
    border: 2px solid #40B8FC;
    border-radius: 50%;
    position: absolute;
    left: -10px;
    top: 0;
}
.lineB {
    border-left: 4px solid #40B8FC;
    position: relative;
    padding-left: 9px;
    margin-left: 10px;
}
.lineB::before{
    content: '';
    width: 15px;
    height: 15px;
    background: white;
    border: 2px solid #F9B233;
    border-radius: 50%;
    position: absolute;
    left: -10px;
    top: 0;
}